<ion-header>
  <ion-toolbar>
    <ion-title>Locations
      <button class="addBtn" type="button" (click)='addBtn()'[hidden]="showForm">Add</button>
      <button class="backBtn" type="button" (click)='backBtn()' [hidden]="!showForm">Back</button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="textAlign">
  
  <form [formGroup]="labService" (ngSubmit)="logForm()" [hidden]="!showForm">
      <ion-card class="formCard">
    <ion-item class="formList">
      <ion-label position="floating">Location Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="formList">
      <ion-label position="floating">Pincode</ion-label>
      <ion-input type="tel" maxlength="6"  formControlName="pincode"></ion-input>
    </ion-item><br>
    <button class="submit" type="submit" [disabled]="!labService.valid">Submit</button><br><br>
  </ion-card>
  </form>
  <div [hidden]='showMessage' class="nolistMsg">No records to display. Please click on 'add' to add Location</div>
      <ion-card class="listCard" [hidden]="showForm" *ngFor="let data of categories">
      <div>
          <span><b>Location Name</b>: {{data.name}}</span><br>
          <span><b>Pincode</b>: {{data.pincode}}</span><br>
          <span><b>Created Date:</b> {{data.createdDate}}</span>
      </div>
    </ion-card>
</ion-content>