.addBtn{
    float: right;
    background-color: #ff6c00;
    font-size: 18px;
    border-radius: 8px;
    // width:25%;
    color: white;
    height: 30px;
}

ion-col {
    border: solid 1px grey;
   font-size: 11px;
   text-align :left;
  
 }

 .row-custom-bg:nth-of-type(even) {
    background: green;
}
.row-custom-bg:nth-of-type(odd) {
    background: blue;
}
.headercol {
    background-color:lightgrey;
  }

  .nolistMsg {
    color: #555555 !important;
    font-size: 12px;
    margin: 200px 10px;
}